.carousel-wrapper {
  width: 100%;
  padding-top: 20px;
}

/* Flechas */
.swiper-button-next,
.swiper-button-prev {
  color: #111;
}

/* Ajuste para que no se corte */
.swiper {
  padding-bottom: 10px;
}
